.top-part{
   
    margin: 200px 20px 200px 20px;
   
}
#whatis{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    
}
.why{
    background-color: #393e46;
    color: rgb(240, 228, 228);
    margin: 0px 20px 200px 20px;
    padding: 40px 0px 0px 0px;
    
}
.wedo{
    background-color: #00adb5;
    margin: 0px 20px 200px 20px;
    padding: 40px 0px 0px 0px;
}
.bottom{
    background-color: #eeeeee;
    margin: 40px 20px 100px 20px;
    padding: 40px 0px 0px 0px;
}
body{
    background-color: #dcedc2;
}
.container-fluid{
    padding: 3% 15%;
    background-color:#222831 ;
    color: white;
}
